

fieldset
{
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-color: #fff;
    font-size: 18px;
}

legend
{
    padding: 5px;
    font-weight: bold;
    color: #525252;
}

.rotulo
{
    color: #525252;
    font-size: 16px;
    display: block;
    margin-bottom: 4px;
}

.caixa-texto
{
    color: #525252;
    border-radius: 3px;
    font-size:16px;
    padding: 6px 9px;
    border: 1px solid #d1d1d1;
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    outline: none;
}

.caixa-texto:hover
{

    border: 1px solid #00aeef;
}

.caixa-texto:focus
{
    border: 1px solid #00aeef;
    box-shadow: 0 0 4px rgba(11, 195, 241,0.7);
}


textarea
{
   resize: none; 
}

.label-check input
{
    display: none;
}

.label-check .caixa-check
{
    height: 16px;
    width: 16px;
    border: 1px solid #d1d1d1;
    background-color: #fafafa;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
}

.label-check
{
    position: relative;
    padding-left: 25px;
    color: #525252;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

.label-check:hover .caixa-check
{
    background-color: #fff2;
} 

.label-check input:checked ~ .caixa-check
{
    background-color: #2196f3;
    border-color: #00aeef;
}

.label-check .caixa-check::after
{
    content: "";
    width: 4px;
    height: 8px;
    border: 1px solid white;
    position: absolute;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    left: 4.9px;
    top: 1px;
    display: none;
}

.label-check input:checked ~ .caixa-check::after
{
    display: block;
}



.caixa-vazio-25
{
    height: 25px;
}


.label-radio
{
    position: relative;
    cursor: pointer;
    color: #525252;
    font-size: 16px;
    user-select: none;
    padding-left: 25px;

}

.label-radio input
{
    display: none;
}

.label-radio .bol-radio 
{
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #d1d1d1;
    background-color: #fafafa;
    border-radius: 50%;

}


.label-radio input:checked ~ .bol-radio
{
    background-color: #00aeef;
    border-color: #0893c7;
}

.label-radio:hover .bol-radio
{
    border-color: #0893c7;
}

.label-radio .bol-radio::after
{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    display: none;
}

.label-radio input:checked ~ .bol-radio::after
{
    display: block;
}